.header {
    grid-area: hd;
    background-color: rgba(57, 38, 26, 0.749);
    border-radius: 10px;
    border: solid 5px rgb(110, 68, 68);
    color:  rgba(255, 217, 142, 0.804);
    text-align: center;
    font-family: cursive;
  }