.notes {
  grid-area: nt;
  background-color: rgba(255, 217, 142, 0.804);
  border-radius: 10px;
  border: solid 5px rgb(110, 68, 68);
  text-align: center;
  font-family: cursive;
}

.redactor {
  gap: 0.5rem;
}

.redactor input {
  margin: 10px;
  width: 400px;
  padding: 5px;
}

.item span {
  padding: 5px;

}

.delete {
  color: red;
  
}

.item {
  font-size: 25px;
  text-align: left;
  margin-left: 50px;
}

.item span {
  cursor: pointer;
}

.search {
  color: red;
}

.notes ol input:checked+span {
  text-decoration: line-through;
}